.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}
.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.offline-doc .page-header{
  display: flex;
  align-items: center;
}

.offline-doc .footer{
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

/* form group */
.form-group input[type=file] {
  opacity: 1;
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 100;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
      position: absolute;
      width: 100%;
      bottom: 10px;
  }
}

.card.card-upgrade .card-category{
  max-width: 530px;
  margin: 0 auto;
}

/* modal footer sachin creation 2023-10-29 */
.modal-footer {
  border-top: 0px !important;
}
/* SD */
.content .card.flex-column {
  text-align: center;
  padding: 10px 20px 15px;
  -webkit-box-shadow:  3px 3px 6px 0px rgb(249 99 50);
  box-shadow: 3px 3px 6px 0px rgb(249 99 50);
}
.main-panel > .content .row {
  gap: 20px 0px;
  align-items: center;
}

.content .card.flex-column .card-title {
  font-size: 26px;
  font-weight: 600;
  background: #121FCF;
  background: linear-gradient(to right, #22466e 0%,#f96332 50%, #244871 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .card.flex-column .card-body .text-center {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: #214269;
  margin: 0;
}
/* SD */

/* sachin  */
.results-list {
  list-style: none; /* Remove bullets from the list */
}

.result-item {
  display: block; /* Display list items inline */
  margin-right: 10px; /* Adjust spacing between individual result items */
}

.not-found {
  font-style: italic;
  color: red;
  /* Add more styles as needed */
}

